* {
    box-sizing: border-box;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
 header {
     background-color: #636363;
     padding: 20px;
     text-align: center;
     color: aliceblue;
 }
  .title {
      font-size: 150%;

  }
  

     nav{
         background-color: black;
   padding: 20px;
   margin: 10px 0px ;
  
   display:flex ;
   justify-content: space-between;


 }


  main {
      display: flex;
      flex-wrap: wrap;
      flex: 1 1 200px;
      flex-direction: row;
      justify-content: space-between;
  }

  .img-container {
      max-width: 300px;
      max-height: 300px;
  }

  .img-size {
      height: 100%;
      width: 100%;
  }

  a {
  color:aliceblue ;

  }